R >= 4.6.0

CRAN / Bioconductor packages used across the workflow:
AnnotationDbi
AUCell
BiocManager
BiocParallel
data.table
decoupleR
DESeq2
digest
dorothea
edgeR
fgsea
ggplot2
ggrepel
hdf5r
limma
Matrix
matrixStats
msigdbr
openxlsx
org.Mm.eg.db
patchwork
pheatmap
scales
scDblFinder
Seurat
SeuratObject
SingleCellExperiment
SummarizedExperiment
writexl
zip

Package versions must be captured from the final manuscript-associated environment using capture_session_info.R.
